// Style the tab themselves.
ul.tabs {
  display: inline-block;
  padding: 5px 10px;
  font-weight: normal;

  .active {
    font-weight: bold;
  }
}

.tabs-content > * {
  display: none;

  &.active {
    display: block;
  }
}

ul.tabs li { display: inline-block; }
